

/*!NOTE:##########0#########global################## */
/* !?##############+++++++++++++++################## */
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

ul li {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
}

.card_content a,
.card_content h3,
nav ul li a h1,
h2,
h3,
a {
   font-family: 'Oswald',
      sans-serif;
}

a,
p,
h2 {
   color: #fff;
}

p,
a {
   font-size: 1.8125rem;

}

a:hover {
   cursor: pointer;
}

p {
   font-family: 'Montserrat',
      sans-serif;
}

img {
   max-width: 100%;
   display: inline-block;
}

/*!NOTE:##########0#########reuseable################## */
/* !?##############+++++++++++++++################## */
.button {
   padding: 1rem 4.7rem;
   background-color: #e8631c;
   text-align: center;
   display: inline-block;
   border-radius: 5px;

}

button {
   border: none;
}

.button a {
   font-size: 29.17px;
}

.container {
   max-width: 77.5rem;
   margin: 0 auto;
}

.top_text {
   text-align: center;
   letter-spacing: 2px;
   padding: 60px 80px;
}

.top_text p {
   padding: 0 20px;
   font-size: 29.75px;
}


.top_text h2 {
   font-size: 75px;
   padding-bottom: 60px;
}

.cards_container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

/*!NOTE:###################header################## */
/* !?##############+++++++++++++++################## */
header {
   position: fixed;
   z-index: 999999;
   top: 0;
   left: 0;
   width: 100%;

}

.main_header {
   background-color: black;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   height:120px;

}

.main_header nav ul li {
   display: inline-block;
   font-size: 1.5625rem;
   padding: 0 1.875rem;
   text-align: center;

}

.main_header ul li a:hover {
   color: rgb(233, 222, 222);

}

.main_header ul>.active {
   border-bottom: 2px solid #e8631c;
   -webkit-transition: smooth;
   -o-transition: smooth;
   transition: smooth;
   border-radius: 5%;

}

.top_nav nav {
   position: fixed;
   width: 100%;
   top: 0%;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

/*!NOTE:################### Home section ################## */
/* !?##################+++++++++++++++##################### */
#home {

   height: 750px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   background-image: url("../images/background/home.jpg");
}

.home_container {
   margin-left: 5.625rem;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.home_container p {
   line-height: 1.5;
   letter-spacing: 1.2;
}

.home_content {
   margin-top: 10%;
   padding-right: 65%;
}

.home_content h2 {
   font-size: 124px;
}

.home_content .button {
   margin-top: 40px;
   border-style: none;
}

.home_content .button a:hover {
   color: rgb(233, 222, 222);
}

/*!NOTE:###################products section################## */
/* ?##################+++++++++++++++##################### */
#product {
   background-image: url("../images/background/about.png");
   height: 995px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center left;
   overflow: hidden;
}

/* .product_container>.top_text {
   margin-top: 105px;
   padding-bottom: 85px;
} */

.product_container>.cards_container {
   color: #fff;
   text-align: center;
}

.product_container>.cards_container>.card {
   height: 495px;
   width: 375px;
   background-color: black;
}

.product_container>.cards_container>.card .card_img {
   overflow: hidden;
   width: 100%;
}

.product_container>.cards_container>.card>.card_content {
   padding: 0 0.523em;
   padding-top: 20px;
}

.product_container>.cards_container>.card a {
   font-size: 36px;
   padding-top: 40px;

}

.product_container>.cards_container>.card a:hover {
   color: rgb(233, 222, 222);

}

.product_container>.cards_container>.card p {
   font-size: 22.17px;
   padding-top: 10px;
}

.product_container>.cards_container>.card img:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   -webkit-transition: 1.5s;
   -o-transition: 1.5s;
   transition: 1.5s;
}

/*!NOTE:################### price section################## */
/* ?##################+++++++++++++++##################### */

#price {
   height: 960px;
   background: #303030;
   overflow: hidden;
   position: relative;

}

.price_container>.price_content>.cards_container a:hover {
   cursor: pointer;
   color: rgb(233, 222, 222);
}

.price_content>.cards_container {

   color: #fff;
   text-align: center;
   position: relative;
   z-index: 111;
}

.price_content>.cards_container>.card {
   background-color: #e8631c;
   height: 505px;
   width: 373px;
   border-radius: 10px;

}

.price_content>.cards_container>.card>.card_img {
   padding: 50px 0;

}

.price_content>.cards_container>.card>.card_content>h3 {
   font-size: 36.95px;
   font-weight: 700;

}

.price_content>.cards_container>.card>.card_content>p {
   padding-top: 30px;
   font-size: 22.17px;

}

.price_content>.cards_container>.card>.card_content>.button {
   background-color: #303030;
   margin-top: 35px;
   font-size: 25px;

}

.price_shape {
   position: absolute;
   top: -30%;
   left: -10%;

}

/*!NOTE:################### promo section################## */
/* ?##################+++++++++++++++##################### */

.promo_container>.promo_top,
.promo_bottom {
   height: 995px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 100%;

}

.promo_container .promo_image,
.promo_content {
   background-color: #e8631c;
   width: 50%;
   position: relative;
   overflow: hidden;

}

.promo_container .promo_image img {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: center 30%;
   object-position: center 30%;
}

.promo_container .promo_image img:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   overflow: hidden;
   -webkit-transition: 1.5s;
   -o-transition: 1.5s;
   transition: 1.5s;
}

.promo_container .card_content {
   width: 80%;
   margin: 30% 10%;

}

.promo_container .card_content a:hover {
   cursor: pointer;
   color: rgb(233, 222, 222);

}

.promo_container .card_content a {
   background-color: black;
   margin-top: 2.5em;

}

.promo_container .card_content h2 {
   font-size: 75px;
   font-weight: bold;

}

.promo_container .card_content p {
   margin-top: 2.5em;
   /* font-size: 25px; */
   font-weight: lighter;
   /* letter-spacing: 3px; */
   line-height: 1.5;
   padding-right: 10%;

}



.middle_shape {
   position: absolute;
   top: 42%;
   right: 2%;

}

.promo_content>.bottom_shape {
   position: absolute;
   top: 50%;

}

.promo_content {
   overflow: hidden;
}

.promo_content>.card_content {
   z-index: 11;
   position: relative;

}

.top_shape_container {
   position: relative;
}

.promo_container>.top_shape {
   display: none;
   position: absolute;
   top: 220%;
   right: 1%;
   z-index: 1;
}

/*!NOTE:################### about section################## */
/* ?##################+++++++++++++++##################### */
.about_top {
   height: 995px;
   background-color: #303030;
}



.about_counter .count {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   text-align: center;
   /* margin: 0 12.1rem 0 12.1rem; */
   margin-top: 180px;
}

.about_counter .count span::after {
   content: "+";
   color: #ffff;
   position: relative;
   right: -5%;
}


.about_counter .count span {
   color: #fff;
   font-size: 66.84px;

}

.about_counter .count p {
   color: #fff;
   font-size: 41.67px;
   padding-top: 35px;
}

.about_container>.about_bottom {
   text-align: center;
   height: 995px;
   background:
      url("../images/about_item/about_background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center 15%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.about_container>.about_bottom a {
   font-size: 72px;
   /* margin-top: 50px; */
   font-weight: 700;
   display: inline-block;
}

.about_container>.about_bottom a:hover {
   text-decoration: underline;
}

.about_container>.about_bottom p {
   font-size: 50px;
   line-height: 1.2em;
}

/*!NOTE:################### contact section################## */
/* ?##################+++++++++++++++##################### */

.contact_container {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   height: 995px;
   background-image: url("../images/contact/Design.jpg");
   background-position: center;
}



.contact_container .top_text h2 {

   font-weight: bold;
}

.contact_container form {
   text-align: center;
   margin-top: 75px;
}

.contact_container input {
   position: relative;
   display: inline-block;
   -webkit-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
}

.contact_container input[type="email"] {
   background-color: #ffff;
   color: #666666;
   width: 550px;
   height: 59px;
   border: none;
   font-size: 25px;
   padding-left: 20px;
   /* font-weight: bold; */
}

.contact_container input[type="submit"] {
   background-color: black;
   color: #fff;
   border: none;
   outline: none;
   padding: 14.6px 50px;
   position: relative;
   left: -5px;
   font-size: 25px;
   cursor: pointer;
}

/*!NOTE:################### contact section################## */
/* ?##################+++++++++++++++##################### */
footer {
   background-color: #333333;
   height: 478px;

}

.footer_container>.footer_items {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   padding-top: 5%;

}

.footer_container>.footer_items h2 {
   font-size: 33.33px;
}

.footer_container>.footer_items p {
   font-size: 25px;
   line-height: 1.5em;
   margin-top: 5px;
}

.footer_container .footer_items ul li a {
   font-size: 25px;
   font-family: 'Montserrat',
      sans-serif;
}

.footer_container .footer_items ul li a:hover {
   color: rgb(233, 222, 222);

}

.footer_container>.footer_items .social {
   width: 30%;
}

.footer_container>.footer_items .social>.icons ul li {
   display: inline-block;
   margin-top: 30px;
}


.footer_container .icons>ul li a i {
   color: black;
   background-color: #fff;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-animation: rotate 2s linear infinite;
   animation: rotate 2s linear infinite;
}

.footer_container .icons>ul li a i:hover {
   background-color: #e8631c;
   text-align: center;
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
   -webkit-transition: 0.9s linear;
   -o-transition: 0.9s linear;
   transition: 0.9s linear;

}

.footer_items>.about>ul,
.service>ul,
.other>ul {
   margin-top: 30px;
}

.footer_items>.about>ul li,
.service>ul li,
.other>ul li {
   padding-top: 10px;
}